{
  "project_info": {
    "project_number": "551135695634",
    "project_id": "proyectoflutter-8a229",
    "storage_bucket": "proyectoflutter-8a229.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:551135695634:android:151b8a23dbb4e7aaf9d9cb",
        "android_client_info": {
          "package_name": "com.sentilife.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_FIREBASE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
